/* Global styles */

html{
   font-size: 16px;
   font-family: 'Lato', sans-serif;
}

h1{
}

h2{
}

.container{
  padding: 2rem 0;
  display: flex;
}

main .container:nth-child(odd){
  background-color: hsl(0, 0%, 89%);
}

.container-left{
  margin:0 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.container-left img{
  width:100%;
}

.container-right{
  display:flex;
  flex-direction:column;
  width: 40%;
}

/* Header */

header{
  display: flex;
  height:4rem;
  justify-content: space-between;
  align-items: center;
}

header img{
  height: 3rem;
  width:auto;
}

.header-left{
  display: flex;
  align-items:center;
  font-size:2rem;
  margin-left:1.5rem;
}

header .desktop{
  margin-right: 0.5rem;
}

header li{
  display: inline;
  margin-right: 1rem;
  color: grey;
}

@media only screen and (max-width: 700px)  {
   .desktop{
    display:none;
  }
}

@media only screen and (min-width: 700px)  {
   .mobile{
    display:none;
  }
}

/* Banner */

.banner .container-right{
  justify-content: center;
}

.banner .container-right  h2{
  margin: 2rem 0;
}

.banner .container-right span{
  background-color: darkgrey;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
}


/* Main info Section*/

.main-info .container-left h1{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.main-info .container-left p{
  margin-bottom: 2.5em;
}

.main-info .container-right{
  justify-content: flex-start;
}

.infobox{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.container-right .infobox:last-child{
  background-color: hsl(0, 0%, 89%);
}

.text-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.text-box p{
  margin: 0.5rem 0;
}

/* Start learning Section*/

.learning-box{
  flex-direction:column;
  padding-right:4.5rem;
  padding-left: 4.5rem;
  align-items: center;
}

.learning-box h1{
  text-align: center;
}

.box-line{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.box-line .box:nth-child(2n+0){
  margin: 0 2rem;
}

.box{
  max-width: 400px; /*-> this rule has been applied for displaying correctly the images on wide screen (otherwise it would pixelise and show an unpleasant layout)*/
  display:flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 1.5rem;
}

.box img{
  width:100%;
  height: auto;
}

.box h2, .box h3, .box p{
  margin-left:1rem;
}

.box h2{
  margin-top: 1rem;
}

.box h3{
  padding: 0.5rem 0;
}

/* Thesis Section*/

.thesis{
  flex-direction: column;
  border: solid 1px red;
  align-items: center;
}

.thesis h1{
  text-align:center;
}

.sub-container{
  width:100%;
  margin-top: 2rem;
  display:flex;
  border: solid 1px red;
}

.sub-container .container-left{
  justify-content: flex-start;
  border: solid 1px red;
}

video{
  margin:0;
}
