/* Global styles */

html{
   font-size: 16px;
   font-family: 'Palanquin', sans-serif;
   color:hsl(64, 9%, 45%);
}

h1, h2{
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  color: hsl(60, 2%, 30%);
}

h1{
  font-size: 2.25rem;
  line-height: 1.2;
}

h2{
  font-size: 1.25em;
  line-height: 1.5;
}

p{
  line-height: 1.5;
}

a{
  text-decoration: none;
}

/* Section general styles */

main .section:nth-child(odd){
  background-color: hsl(64, 9%, 90%);
}

.section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  padding: 2rem 0;
  display: flex;
  max-width: 1260px; /*--> this has been implemented in order to have a better a layout of the global content on wide screen and in particularly for the rendering of the pictures in the 2nd & 3rd section (where resolution isn't sufficient for expanding to wide screens)*/
}

.container-left{
  margin:0 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.container-left img{
  width:100%;
  height: auto;
}

.container-right{
  display:flex;
  flex-direction:column;
  width: 40%;
}

.infobox{
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.infobox img{
  width:35%;
  margin: 0 1rem;
}

.text-box{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box p{
  margin: 0.5rem 0;
}

main{
  padding-top:4rem;
}

/* Header */

header{
  height: 4rem;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

header img{
  height: 3rem; /*-> not in specs*/
  width:auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0 1.5rem;
  height: 100%;
}

    /*---Header desktop---*/
.logo{
  display: flex;
  align-items:center;
  font-size:1.25rem;
  letter-spacing: 0.04rem;
}

.logo p:nth-child(2n+2){
  color: hsl(60, 2%, 30%);
  font-weight:bold;
}

header .desktop li{
  display: inline;
  margin-right: 1rem;
  color: hsl(60, 2%, 30%);
}

header .desktop a{
  color: hsl(60, 2%, 30%);
}

header .desktop a:active{
  color: hsl(349, 67%, 46%);
}

    /*---Header mobile---*/

header .mobile{
  padding: 0.5rem 1.5rem 0 1.5rem;
  }

/* Banner */

    /*---Banner desktop---*/

.banner .container-right{
  justify-content: center;
}

.banner .container-right h2{
  margin: 2rem 0;
}

.banner .container-right a{
  background-color:hsl(60, 2%, 30%);
  padding: 0.5rem 0;
  text-align: center;
  color: white;
  transition: color 0.25s linear;
}

.banner .container-right a:hover{
  color: hsl(349, 67%, 46%);
}

    /*---Banner mobile---*/

@media only screen and (max-width: 740px)  {
  .banner .container{
    flex-direction: column;
    padding: 0;
  }
  .banner .container-left{
    width:100%;
    margin:0;
  }
  .banner .container-right{
    width: 100%;
  }
  .banner .container-right h1{
    margin: 2rem 1rem;;
  }
  .banner .container-right h2{
    margin: 0 1rem 1.5rem 1rem;
  }
  .banner .container-right a{
    background-color:hsl(60, 2%, 60%);
    margin:0 1rem 2rem 1rem;
  }
}

/* Main info Section*/

.text-box a{
  color: hsl(203, 62%, 55%);
}

.text-box a:visited{
  color: hsl(266, 29%, 44%);
}

    /*---Main info desktop---*/

.main-info .container-left h1{
  margin: 2rem 0 1.5rem 0;
}

.main-info .container-left p{
  margin-bottom: 2.5em;
}

.main-info .container-left span{
  font-size: 0.75rem;
  color: hsl(60, 2%, 40%);
}

.main-info .container-right .infobox:first-child{
  padding-top: 0; /*-> as shown in specs*/
}

@media only screen and (min-width: 740px){
  .main-info .container-right .infobox:last-child{
    background-color: hsl(64, 9%, 90%);
  }
}

    /*---Main info mobile---*/

@media only screen and (max-width: 740px){
  .main-info .container{
    padding:0;
  }

  .main-info .container-right{
    width:100%;
    margin:1rem;
  }

  .infobox{
    padding: 0;
    width:100%;
    flex-direction: column;
    background-color: none;
    margin-bottom: 4rem;
  }

  .main-info .container-right .infobox:last-child{
      margin-bottom: 2rem;
  }

  .infobox img{
    width:100%;
  }
  .text-box{
    width:100%;
    margin-top: 4rem;
  }
  .text-box h2, .text-box p, .text-box a{
    margin-left: 1rem;
  }
}

/* Start learning Section*/

.learning-box h1{
  text-align: center;
}

.learning-box .container{
  flex-direction:column;
  align-items: center;
}

    /*---Start learning desktop--- */

.box-line{
  display: flex;
  justify-content: center;
  margin: 2rem 4.5rem 0 4.5rem;
}

.box-line .box:nth-child(2n+0){
  margin: 0 2rem;
}

.box{
  width: 27.8%;
  display:flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 1.5rem;
}

.box img{
  width:100%;
}

.box h2, .box h3, .box p{
  margin-left:1rem;
}

.box h2{
  margin-top: 1rem;
}

.box h3{
  padding: 0.5rem 0;
}

    /*---Start learning mobile---*/

.learning-box .mobile{
  width: 100%;
  background-color: hsl(0,0%,100%);
  padding: 2rem 1rem;
}

.learning-box .mobile h1{
  margin-bottom:1rem;
}

.learning-box .mobile h2{
  width: 100%;
  margin-top: 0.5rem;
  background-color: hsl(64, 9%, 90%);
  padding: 1rem 0 1.5rem 1rem;
}

@media only screen and (max-width: 740px){
  .learning-box{
    border-top: solid 1px hsl(64, 9%, 90%);
    border-bottom: solid 1px hsl(64, 9%, 90%);
  }
}


/* Thesis Section*/

.thesis .container{
  flex-direction: column;
}

.thesis h1{
  text-align: center;
}

video{
  width: 100%;
}

    /*---Thesis desktop---*/

.sub-container{
  width:100%;
  margin-top: 2rem;
  display:flex;
}

.thesis .container-left{
  justify-content: flex-start;
}

.thesis .container-left h2{
  margin: 1.5rem 0 0.5rem 0;
}

.thesis .container-right .infobox:first-child{
background-color: hsl(64, 9%, 90%);
}

    /*---Thesis mobile---*/

@media only screen and (max-width: 740px){
  .thesis .container{
    padding-bottom: 1.5rem;
  }
  .thesis .container-left{
    width:100%;
    margin:0;
  }
  .sub-container{
    margin-top: 1rem;
  }
}

/* Footer*/

footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 3rem 1.5rem;
  border-top: solid 1px hsl(64, 9%, 90%);
  font-size: 0.75rem;
}

.footer-right span{
margin: 0 0.5rem;
}

footer a{
  color:hsl(64, 9%, 45%);
}

footer a:hover{
  color: hsl(266, 29%, 44%);
}

@media only screen and (max-width: 740px){
  footer{
    color: hsl(60, 2%, 30%);
    padding: 1rem 1.5rem;
    border-top: none;
  }
}

/* General screening rules*/

@media only screen and (min-width: 740px) and (max-width: 980px){
  h1{
    font-size: 1.75rem;
    line-height: 1;
  }

  h2{
    font-size: 1rem;
    line-height: 1.2;
  }

  p{
    font-size: 0.75rem;
    line-height: 1.2;
  }

  a{
    font-size: 0.75rem;
  }

}

@media only screen and (min-width: 740px){
  .mobile{
    display: none;
  }
}

@media only screen and (max-width: 740px){
  .desktop{
    display: none;
  }
}
